<div class="container">
  <h1><%= t :Cate %></h1>
  <% if @category.name.nil? %>
    <h3><%= link_to t(:missing_name), category_path(id: @category.id) %></h3>
  <% else %>
    <h3><%= link_to @category.name, category_path(id: @category.id) %></h3>
  <% end %>
  <ul>
    <% @products.each do |prod| %>
      <li>
        <p><%= link_to prod.name, "#" %></p>
      </li>
    <% end %>
  </ul>
  <div><%= paginate @products %></div>
</div>
