<nav class="navbar navbar-default navbar-fixed-top">
    <div class="collapse navbar-collapse header-div" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(:About), about_path, id: "word-li" %></li>
        <li><%= link_to t(:header_viewed), "#", id: "word-li" %>
          <i class="fa fa-eye fa-eye-size"></i></li>
        <li><%= link_to t(:header_cart), "#", id: "word-li" %>
          <i class="glyphicon glyphicon-shopping-cart"></i></li>
        <li><%= link_to t(:header_pay), "#", id: "word-li" %>
          <i class="fa fa-cc-paypal fa-pay-size"></i></li>
        <li><i class="glyphicon glyphicon-search"></i></li>
        <% if user_signed_in? %>
          <li class="dropdown">
            <%= link_to t(:account_title), "#", "data-toggle": "dropdown",
              class: "dropdown-toggle", id: "word-header" %>
            <ul class="dropdown-menu">
              <li>
                <%= link_to t(:setting_title),
                   edit_user_registration_path %>
              </li>
              <li class="divider"></li>
              <li><%= link_to t(:view_layout_header_logout),
                destroy_user_session_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li>
            <%= link_to t(:view_layout_header_login), new_user_session_path %>
          </li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
